<link href="/css/style.css" rel="stylesheet" type="text/css">
<div class="navbar">
	<a href="/dashboard">Home</a>
  	<div class="dropdown">
    	<button class="dropbtn">Dropdown 
      		<i class="fa fa-caret-down"></i>
    	</button>
    	<nav class="dropdown-content">
      		<a href="/podcast">Podcasts</a>
      		<a href="/upload">Upload</a>
      		<a href="/rss">Create RSS Feed</a>
     		<a href="/getAdCampaignStore">Link Advertisement</a>
     		<a href="/wallet">View Wallet</a>
     		<a href="/voting">Voting</a>
     		<a href="/logout">Logout</a>
    	</nav>
  	</div>
</div>