<div class="header">
        <nav>
            <ul class="nav">
                <li role="presentation"><a href="/dashboard">Home</a></li>
            </ul>
            <h3>DAO</h3>
        </nav>
    </div>