<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create User</title>
</head>
<body>
	<!-- 
	TODO LIST
	* check that password is adequately complex
	
	Need to display the password policies here explicitly
	
	If a new password doesn't comply with the complexity policies, the error
	message should display every broken rule instead of just the first one
	 -->
	<form class="CreateUser">
		<h1>Create a new user</h1>
		<h2>Passwords must meet these conditions: </h2>
		<ul>
			<li>At least one uppercase english letter [A-Z]</li>
			<li>At least one lowercase english letter [a-z]</li>
			<li>At least one digit [0-9]</li>
			<li>At least one special character [#?!@ $%^&*-]</li>
			<li>Minimum length 10, maximum length 128</li>
		</ul>
		<input type="text" class="username" placeholder="username" required> 
		<input type="text" class="email" placeholder="email"> 
		<input type="hidden" class="profile" value="<%=profile%>">
		<input type="password" class="password" placeholder="password" required> 
		<input type="submit" value="Create user">
	</form>
	<br>
	<form action="/login" method = "get">
          <button>Return to Login</button>
    </form> 
    <script src="post.js"></script>
	<script src="createUser.js"></script>
</body>
</html>