<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form class="CreateUser">
		<h1>Create a new user</h1>
		<input type="text" class="username" placeholder="username"> <input
			type="text" class="email" placeholder="email"> <input
			type="password" class="password" placeholder="password"> <input
			type="submit" value="Create user">
	</form>
	<br>
	<form action="/login" method = "get">
          <button>Return to Login</button>
    </form> 
	<script src="/routes.js"></script>
</body>
</html>