<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Dashboard</title>
</head>
<body>
	<h1>Welcome!</h1>
	<form action="/podcast" method = "get">
          <button>Podcasts</button>
    </form>
    <form action="/rss" method = "get">
          <button>Create RSS Feed</button>
    </form>  
	<form action="/upload" method = "get">
          <button>Upload</button>
    </form>
    <form action="/uploadAd" method = "get">
          <button>Upload Advertisement</button>
    </form>  
    <form action="/getAddStore" method = "get">
          <button>Link Advertisement</button>
    </form> 
    <form action="/wallet" method = "get">
    	<button>View Wallet</button>
    </form>
	<form action="/logout" method = "get">
          <button>Logout</button>
    </form> 
</body>
</html>