<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Dashboard</title>
</head>
<body>
	<div id="header">
		<div>
			<ul id="navigation">
				<li>Home</li>
				<li>Podcasts</li>
				<li>Create RSS Feed</li>
				<li>Upload</li>
				<li>XRP Wallet</li>
			</ul>
		</div>
	</div>
	<h1>Welcome!</h1>
	<form action="/podcast" method = "get">
          <button>Podcasts</button>
    </form>
    <form action="/rss" method = "get">
          <button>Create RSS Feed</button>
    </form>  
	<form action="/upload" method = "get">
          <button>Upload</button>
    </form> 
	<form action="/logout" method = "get">
          <button>Logout</button>
    </form> 
</body>
</html>