<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Listen to Podcast</title>
</head>
<body>
	<h1>TESTING</h1>
	<form action="/dashboard" method = "get">
          <button>Back</button>
    </form> 
	<form action="/logout" method = "get">
          <button>Logout</button>
    </form>
</body>
</html>