<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Podcasts</title>
</head>
<body>
	<div id="tableDiv">
		<h2>Podcasts</h2>
		<table border="1">
			<tr>
				<th>Episode</th><th>Description</th>
			</tr>
			<% podcasts.forEach(function(podcast) { %>
				<tr><td><%=podcast.episode_name%></td><td><%=podcast.description%></td></tr>
			<% }) %>
		</table>
	</div>
	<br>
	<form action="/dashboard" method = "get">
          <button>Back</button>
    </form> 
	<form action="/logout" method = "get">
          <button>Logout</button>
    </form>
</body>
</html>