<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Upload</title>
</head>
<body>
	<%- include('../partials/header') %>
	<form action="/createRSS" method="post" enctype="multipart/form-data">
		<table border="0">
			<tr>
				<td>Title: </td>
				<td><input type="text" name="title" size="50"/></td>
			</tr>
			<tr>
				<td>Description: </td>
				<td><input type="text" name="description" size="50"/></td>
			</tr>
			<tr>
				<td>Language: </td>
				<td><input type="text" name="language" size="50"/></td>
			</tr>
			<tr>
				<td>Copyright: </td>
				<td><input type="text" name="copyright" size="50"/></td>
			</tr>
			<tr>
				<td>Contains Explicit Content: </td>
				<td><input type="checkbox" name="explicit"/>
			</tr>
			<tr>
            	<td colspan="2">
            		<input type="submit" value="Save">
                </td>
            </tr>
		</table>
	</form>
</body>
</html>