<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Dashboard</title>
</head>
<body>
	<h1>Welcome!</h1>
    <form action="/uploadAd" method = "get">
          <button>Upload Advertisement</button>
    </form>
    <form action="/campaign" method = "get">
          <button>Create Ad Campaign</button>
    </form> 
    <form action="/wallet" method = "get">
    	<button>View Wallet</button>
    </form>
	<form action="/logout" method = "get">
          <button>Logout</button>
    </form> 
</body>
</html>