<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Dashboard</title>
</head>
<body>
	<%- include('../partials/header') %>
	<h1>Welcome!</h1>
    <%- include('../partials/footer') %>
</body>
</html>