<!-- This can probably be consolidated with header.ejs and there can probably
be some logic added to make these forms dynamic. We can also probably store menu
items in the database.  -->
<div class="header">
	<nav>
		<%- include('./advertiserNavbar') %>
	</nav>
</div>